[submodule "packages/nomad-battery-database"]
	path = packages/nomad-battery-database
	url = https://github.com/FAIRmat-NFDI/nomad-battery-database.git
[submodule "packages/nomad-battery-space"]
	path = packages/nomad-battery-space
	url = https://github.com/nomad-hzb/nomad-battery-space.git
[submodule "packages/nomad-hysprint"]
	path = packages/nomad-hysprint
	url = https://github.com/nomad-hzb/nomad-hysprint.git
[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
